C #/WCF/EmpClientDemo/Connected Services/ServiceReference1/EmpService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61199/EmpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFEmpEmpService" />
  <xs:element name="DeleteEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFEmpEmpService" minOccurs="0" name="objEmp" nillable="true" type="q1:Emp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoGenerateEmpno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoGenerateEmpnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutoGenerateEmpnoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFEmpEmpService" minOccurs="0" name="objEmp" nillable="true" type="q2:Emp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowEmp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFEmpEmpService" minOccurs="0" name="ShowEmpResult" nillable="true" type="q3:ArrayOfEmp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFEmpEmpService" minOccurs="0" name="SearchEmpResult" nillable="true" type="q4:Emp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>