C #/WCF/EmpClientDemo/Connected Services/ServiceReference1/EmpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61199/EmpService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61199/EmpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61199/EmpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFEmpEmpService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpService_DeleteEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DeleteEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AutoGenerateEmpno_InputMessage">
    <wsdl:part name="parameters" element="tns:AutoGenerateEmpno" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AutoGenerateEmpno_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoGenerateEmpnoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_InsertEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_InsertEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ShowEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ShowEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_SearchEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_SearchEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmpResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpService">
    <wsdl:operation name="DeleteEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/DeleteEmp" message="tns:IEmpService_DeleteEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/DeleteEmpResponse" message="tns:IEmpService_DeleteEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/UpdateEmp" message="tns:IEmpService_UpdateEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/UpdateEmpResponse" message="tns:IEmpService_UpdateEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutoGenerateEmpno">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/AutoGenerateEmpno" message="tns:IEmpService_AutoGenerateEmpno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/AutoGenerateEmpnoResponse" message="tns:IEmpService_AutoGenerateEmpno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/InsertEmp" message="tns:IEmpService_InsertEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/InsertEmpResponse" message="tns:IEmpService_InsertEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/ShowEmp" message="tns:IEmpService_ShowEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/ShowEmpResponse" message="tns:IEmpService_ShowEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/SearchEmp" message="tns:IEmpService_SearchEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/SearchEmpResponse" message="tns:IEmpService_SearchEmp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpService" type="tns:IEmpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteEmp">
      <soap:operation soapAction="http://tempuri.org/IEmpService/DeleteEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmp">
      <soap:operation soapAction="http://tempuri.org/IEmpService/UpdateEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoGenerateEmpno">
      <soap:operation soapAction="http://tempuri.org/IEmpService/AutoGenerateEmpno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmp">
      <soap:operation soapAction="http://tempuri.org/IEmpService/InsertEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowEmp">
      <soap:operation soapAction="http://tempuri.org/IEmpService/ShowEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEmp">
      <soap:operation soapAction="http://tempuri.org/IEmpService/SearchEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpService">
    <wsdl:port name="BasicHttpBinding_IEmpService" binding="tns:BasicHttpBinding_IEmpService">
      <soap:address location="http://localhost:61199/EmpService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>