C #/WCF/EmpClientDemo/Connected Services/ServiceReference1/EmpService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFEmpEmpService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFEmpEmpService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Emp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Basic" type="xs:int" />
      <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empno" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Emp" nillable="true" type="tns:Emp" />
  <xs:complexType name="ArrayOfEmp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Emp" nillable="true" type="tns:Emp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmp" nillable="true" type="tns:ArrayOfEmp" />
</xs:schema>