C #/MVC/BookLayered/AspWcfLayeredDemo/BMS.DAL/Connected Services/BookServiceReference/BookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59164/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59164/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59164/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BMS.WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookService_Addbook_InputMessage">
    <wsdl:part name="parameters" element="tns:Addbook" />
  </wsdl:message>
  <wsdl:message name="IBookService_Addbook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddbookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_Updatebook_InputMessage">
    <wsdl:part name="parameters" element="tns:Updatebook" />
  </wsdl:message>
  <wsdl:message name="IBookService_Updatebook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatebookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_Deletebook_InputMessage">
    <wsdl:part name="parameters" element="tns:Deletebook" />
  </wsdl:message>
  <wsdl:message name="IBookService_Deletebook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletebookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_SearchBook_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_SearchBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_ShowBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_ShowBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookService">
    <wsdl:operation name="Addbook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/Addbook" message="tns:IBookService_Addbook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/AddbookResponse" message="tns:IBookService_Addbook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Updatebook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/Updatebook" message="tns:IBookService_Updatebook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/UpdatebookResponse" message="tns:IBookService_Updatebook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deletebook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/Deletebook" message="tns:IBookService_Deletebook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/DeletebookResponse" message="tns:IBookService_Deletebook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/SearchBook" message="tns:IBookService_SearchBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/SearchBookResponse" message="tns:IBookService_SearchBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/ShowBook" message="tns:IBookService_ShowBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/ShowBookResponse" message="tns:IBookService_ShowBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookService" type="tns:IBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addbook">
      <soap:operation soapAction="http://tempuri.org/IBookService/Addbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updatebook">
      <soap:operation soapAction="http://tempuri.org/IBookService/Updatebook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deletebook">
      <soap:operation soapAction="http://tempuri.org/IBookService/Deletebook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/SearchBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/ShowBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BasicHttpBinding_IBookService" binding="tns:BasicHttpBinding_IBookService">
      <soap:address location="http://localhost:59164/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>