C #/MVC/EmployLayered/EMSWebLayeredDemo/EMS.DAL/Connected Services/EmployServiceReference/EmployService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61663/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61663/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61663/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMS.WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployService_AddEmploy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmploy" />
  </wsdl:message>
  <wsdl:message name="IEmployService_AddEmploy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployService_UpdateEmploy_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmploy" />
  </wsdl:message>
  <wsdl:message name="IEmployService_UpdateEmploy_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployService_DeleteEmploy_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmploy" />
  </wsdl:message>
  <wsdl:message name="IEmployService_DeleteEmploy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployService_SearchEmploy_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmploy" />
  </wsdl:message>
  <wsdl:message name="IEmployService_SearchEmploy_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployService_ShowEmploy_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowEmploy" />
  </wsdl:message>
  <wsdl:message name="IEmployService_ShowEmploy_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowEmployResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployService">
    <wsdl:operation name="AddEmploy">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployService/AddEmploy" message="tns:IEmployService_AddEmploy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployService/AddEmployResponse" message="tns:IEmployService_AddEmploy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmploy">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployService/UpdateEmploy" message="tns:IEmployService_UpdateEmploy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployService/UpdateEmployResponse" message="tns:IEmployService_UpdateEmploy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmploy">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployService/DeleteEmploy" message="tns:IEmployService_DeleteEmploy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployService/DeleteEmployResponse" message="tns:IEmployService_DeleteEmploy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEmploy">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployService/SearchEmploy" message="tns:IEmployService_SearchEmploy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployService/SearchEmployResponse" message="tns:IEmployService_SearchEmploy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowEmploy">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployService/ShowEmploy" message="tns:IEmployService_ShowEmploy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployService/ShowEmployResponse" message="tns:IEmployService_ShowEmploy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployService" type="tns:IEmployService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmploy">
      <soap:operation soapAction="http://tempuri.org/IEmployService/AddEmploy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmploy">
      <soap:operation soapAction="http://tempuri.org/IEmployService/UpdateEmploy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmploy">
      <soap:operation soapAction="http://tempuri.org/IEmployService/DeleteEmploy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEmploy">
      <soap:operation soapAction="http://tempuri.org/IEmployService/SearchEmploy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowEmploy">
      <soap:operation soapAction="http://tempuri.org/IEmployService/ShowEmploy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployService">
    <wsdl:port name="BasicHttpBinding_IEmployService" binding="tns:BasicHttpBinding_IEmployService">
      <soap:address location="http://localhost:61663/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>