C #/MVC/EmployLayered/EMSWebLayeredDemo/EMS.DAL/Connected Services/EmployServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61663/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMS.WcfService" />
  <xs:element name="AddEmploy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EMS.WcfService" minOccurs="0" name="employ" nillable="true" type="q1:Employ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmploy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EMS.WcfService" minOccurs="0" name="employ" nillable="true" type="q2:Employ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmployResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmploy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmploy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmployResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EMS.WcfService" minOccurs="0" name="SearchEmployResult" nillable="true" type="q3:Employ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowEmploy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowEmployResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EMS.WcfService" minOccurs="0" name="ShowEmployResult" nillable="true" type="q4:ArrayOfEmploy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>